body, html {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px;
  width: 100%;
}

.search-container {
  justify-content: flex-start;
}

.sort-container {
  justify-content: flex-end;
}

.books-container {
  flex-basis: 100%;
  margin-top: 20px;
}

.book {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33.33% - 40px);
  box-sizing: border-box;
}

.book-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.book-image {
  max-width: 100%;
  height: auto;
}

.book-title {
  font-size: 1.2rem;
  margin-top: 10px;
}

.book-author,
.book-price {
  margin-top: 5px;
}

.book-description {
  margin-top: 10px;
}

footer {
  flex-shrink: 0;
}

@media (max-width: 767px) {
  main {
    padding: 20px;
  }
  
  .book {
    width: calc(50% - 20px);
  }

  .footer-brand {
    font-size: 0.8rem; /* Зменшуємо розмір шрифту для тексту футера на мобільних пристроях */
  }

  .input-wrapper,
  .btn {
    margin-left: 8px;
    margin-right: 8px;
    width: calc(100% - 16px); /* ширина елементу за мінусом відступів */
  }

  .navbar,
  footer {
    width: 100%; /* Налаштовуємо ширину навбару і футера на всю ширину екрана */
  }
}

@media (max-width: 320px) {
  main {
    padding: 10px;
  }
  
  .book {
    width: calc(100% - 20px);
  }

  .footer-brand {
    font-size: 0.8rem; /* Зменшуємо розмір шрифту для тексту футера на мобільних пристроях */
  }

  .input-wrapper,
  .btn {
    margin-left: 8px;
    margin-right: 8px;
    width: calc(100% - 16px); /* ширина елементу за мінусом відступів */
  }

  .navbar,
  footer {
    width: 100%; /* Налаштовуємо ширину навбару і футера на всю ширину екрана */
  }
}
