body, html {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Змінено з min-height на height */
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Змінено з center на flex-start для початкового вирівнювання */
  flex-wrap: wrap;
  padding: 40px;
  width: 100%;
  height: calc(100vh - 100px); /* Фіксована висота від верхнього краю екрану до нижнього краю футера */
  overflow-y: auto; /* Додано прокрутку, якщо контент перевищує розмір висоти */
  flex-grow: 1; /* Додано flex-grow для розтягування на всю доступну висоту */
}


.search-container {
  justify-content: flex-start;
}

.sort-container {
  justify-content: flex-end;
}

.books-container {
  flex-basis: 100%;
  margin-top: 20px;
}

.book {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: calc(33.33% - 40px);
  box-sizing: border-box;
}

.book-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.book-image {
  max-width: 100%;
  height: auto;
}

.book-title {
  font-size: 1.2rem;
  margin-top: 10px;
}

.book-author,
.book-price {
  margin-top: 5px;
}

.book-description {
  margin-top: 10px;
}

footer {
  flex-shrink: 0;
}
