/* styles.css */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* Додано для уникнення горизонтального прокручування */
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  margin-top: auto;
}
