body, html {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Заборона горизонтального скролінгу */
  height: 100%; /* Для використання flexbox потрібно встановити висоту на всю сторінку */
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Розтягуємо main на всю доступну висоту, щоб зайняти весь вільний простір */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input[type="number"] {
  width: fit-content; /* Робимо ширину поля введення відповідно до його вмісту */
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (max-width: 767px) {
  main {
    padding-bottom: 60px; /* додаємо відповідний відступ знизу main, щоб уникнути перекриття футером */
  }

  .footer-brand {
    font-size: 0.8rem; /* Зменшуємо розмір шрифту для тексту футера на мобільних пристроях */
  }

  .form-control {
    font-size: 1rem; /* Збільшуємо розмір шрифту для поля введення */
    padding: 0.5rem 1rem; /* Збільшуємо внутрішній відступ для поля введення */
    padding-right: 0; /* Видаляємо правий внутрішній відступ */
  }

  .fa-cart-shopping {
    transform: scale(0.7); /* Зменшуємо масштаб іконки кошика */
    color: #FFD43B; /* Зберігаємо колір */
    margin-right: 0; /* Видаляємо відступи з правого боку */
    padding-right: 0; /* Видаляємо правий внутрішній відступ */
    padding-left: 0; /* Видаляємо лівий внутрішній відступ */
  }

  .btn {
    padding: 0.3rem 0.5rem; /* Зменшуємо відступи кнопок */
    font-size: 0.8rem; /* Зменшуємо розмір шрифту кнопок */
    padding-right: 0; /* Видаляємо правий внутрішній відступ */
    padding-left: 0; /* Видаляємо лівий внутрішній відступ */
  }

  #username {
    font-size: 0.8rem; /* Зменшуємо розмір шрифту для ім'я користувача */
    margin-right: 0.5rem; /* Додаємо відступи з правого боку */
    padding-left: 0; /* Видаляємо лівий внутрішній відступ */
  }

  .gap-4 {
    gap: 0.5rem; /* Зменшуємо відстань між елементами */
  }

  /* Зменшуємо зображення аватара */
  img {
    max-width: 30px; /* Встановлюємо максимальну ширину для збільшення пропорційно */
  }
}
