body, html {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Заборона горизонтального скролінгу */
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Розтягуємо main на всю доступну висоту, щоб зайняти весь вільний простір */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input[type="number"] {
  width: fit-content; /* Робимо ширину поля введення відповідно до його вмісту */
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (max-width: 767px) {
  main {
    padding-bottom: 60px; /* додаємо відповідний відступ знизу main, щоб уникнути перекриття футером */
  }

  .gap-4 {
    gap: 0.1rem; /* Зменшуємо відстань між елементами */
  }

  .footer-brand {
    font-size: 0.8rem;
  }

  .form-control {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    padding-right: 0;
  }

  .fa-cart-shopping {
    transform: scale(0.7);
    color: #FFD43B;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .btn {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    padding-right: 0;
    padding-left: 0;
  }

  .btn-block.float-end {
    width: 100%;
    font-size: 100%;
  }

  #username {
    font-size: 0.8rem;
    margin-right: 0.5rem;
    padding-left: 0;
  }

  img.avatar {
    max-width: 30px;
  }
}
