body, html {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Заборона горизонтального скролінгу */
  height: 100%; /* Для використання flexbox потрібно встановити висоту на всю сторінку */
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Розтягуємо main на всю доступну висоту, щоб зайняти весь вільний простір */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input[type="number"] {
  width: fit-content; /* Робимо ширину поля введення відповідно до його вмісту */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (max-width: 767px) {
  main {
    padding-bottom: 60px; /* додаємо відповідний відступ знизу main, щоб уникнути перекриття футером */
  }

  .navbar-brand {
    font-size: 18px; /* Зменшуємо розмір шрифту для назви в бренді */
  }

  .form-control {
    font-size: 14px; /* Зменшуємо розмір шрифту для полів введення */
    padding: 0.375rem 0.75rem; /* Зменшуємо внутрішні відступи для полів введення */
  }

  .btn {
    font-size: 14px; /* Зменшуємо розмір шрифту для кнопок */
    padding: 0.375rem 0.75rem; /* Зменшуємо внутрішні відступи для кнопок */
  }
}
